# Storefront Details
STOREFRONT_DOMAIN="YOUR_STORE.myshopify.com"
STOREFRONT_ACCESS_TOKEN="YOUR_PUBLIC_STOREFRONT_ACCESS_TOKEN"

# Prefilled buyer information
EMAIL="checkout-kit@shopify.com"
ADDRESS_1="650 King Street"
ADDRESS_2="Shopify HQ"
CITY="Toronto"
COMPANY="Shopify"
COUNTRY="CA"
FIRST_NAME="Evelyn"
LAST_NAME="Hartley"
PROVINCE="ON"
ZIP="M5V 1M7"
PHONE="1-888-746-7439"
