name: CI Pipeline

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]

env:
  JAVA_VERSION: '22'

jobs:
  license:
    name: Verify license headers
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - run: ./scripts/copy_license --check

  check-packed-files:
    name: Check package files
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      TERM: xterm
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - run: |
          yarn module clean
          yarn module build
          yarn compare-snapshot

  lint:
    name: Lint module + sample
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run SwiftLint
        uses: norio-nomura/action-swiftlint@9f4dcd7fd46b4e75d7935cf2f4df406d5cae3684 # 3.2.1
        with:
          args: --strict

      - name: Setup
        uses: ./.github/actions/setup

      - run: |
          yarn module build
          yarn module lint
          yarn sample lint

  test:
    name: Run jest tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - run:
          yarn test --coverage
          --testPathPatterns="modules/@shopify/checkout-sheet-kit/tests"
          --coverageReporters=json-summary

      - name: Coverage comment
        if: github.event_name == 'pull_request'
        uses: MishaKav/jest-coverage-comment@main
        with:
          coverage-summary-path: ./coverage/coverage-summary.json
          title: 'Coverage Report'
          create-new-comment: false

  test-android:
    name: Run Android Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [lint, test]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkout checkout-sheet-kit-android
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: Shopify/checkout-sheet-kit-android
          ref: prototype/development
          path: checkout-sheet-kit-android

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        id: setup-java
        with:
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Publish Android SDK to Maven Local
        env:
          GRADLE_OPTS: -Xmx4g -XX:MaxMetaspaceSize=768m
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
          CHECKOUT_SHEET_KIT_VERSION: 4.0.0-SNAPSHOT
        run: |
          cd checkout-sheet-kit-android
          ./gradlew clean :lib:publishToMavenLocal

      - name: Run Android tests
        timeout-minutes: 20
        env:
          GRADLE_OPTS: -Xmx4g -XX:MaxMetaspaceSize=768m
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        run: |
          echo "JAVA_HOME: $JAVA_HOME"
          java -version
          javac -version
          echo "STOREFRONT_DOMAIN=myshopify.com" > sample/.env
          yarn module build
          yarn sample test:android --no-daemon

  test-ios:
    name: Run Swift Tests
    runs-on: macos-26-xlarge
    timeout-minutes: 20
    needs: [lint, test]
    env:
      SWIFT_SDK_PATH: ${{ github.workspace }}/checkout-sheet-kit-swift
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkout checkout-sheet-kit-swift
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: Shopify/checkout-sheet-kit-swift
          ref: prototype/development
          path: checkout-sheet-kit-swift

      - name: Display Current Xcode Information
        run: |
          echo "Xcode Path: $(xcode-select -p)"
          echo "Xcode Version: $(xcrun xcodebuild -version)"
      - name: Setup iOS Simulator
        uses: ./.github/actions/setup-simulator

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup sample environment
        run: |
          echo "STOREFRONT_DOMAIN=myshopify.com" > sample/.env
          echo "DISPLAY_NAME=Checkout Sheet Kit" >> sample/.env
          yarn env-to-xcconfig

      - name: Install cocoapods
        uses: ./.github/actions/install-cocoapods
        continue-on-error: true

      - name: Update pods for local Swift SDK
        run: |
          cd sample
          bundle install
          cd ios
          bundle exec pod install --repo-update

      - name: Run Swift tests
        run: |
          yarn sample test:ios
